---
import sponsors from "../data/sponsors.json";
import { Picture } from "astro:assets";

const imageProviders: Record<string, (meta: string) => string> = {
	github: (username: string) => `https://avatars.githubusercontent.com/${username}`,
};
---

<ul class="not-prose flex flex-wrap gap-2">
	{
		sponsors.map(({ name, url, image }) => {
			let imageUrl = image;
			if (image.startsWith("@")) {
				const [tag, meta] = image.split(":");
				imageUrl = imageProviders[tag.slice(1)](meta);
			}

			return (
				<li class="rounded-full border-2 border-transparent transition-colors hover:border-pink-400 dark:hover:border-pink-200">
					<a target="_blank" href={url}>
						<Picture
							src={imageUrl}
							formats={["avif", "webp"]}
							width={128}
							height={128}
							alt={name}
							title={name}
							class="block h-16 w-16 rounded-full"
						/>
					</a>
				</li>
			);
		})
	}
</ul>
